.card-container{
  width: 100%;
  background: url('totorotrumpet.jpg');
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.card-background{
  background-color: rgb(255,255,255,0.8);
}

@media (max-width: 1280px) {
  .card-container {
    background-position: right bottom;
  }
}

.card {
  display: flex;
  flex-wrap: wrap;

}

.card-title {
  max-width: 30ch;
  white-space: nowrap;
}

.card-details {
  display: flex;
  justify-content: space-betweens;
}

/* .details:hover {
  background-color: white;
  transition: 0.5s;
} */

.movie-card-container {
  opacity: 0.1;
}

.custombtn {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border: none;
  padding: 0 56px;
  height: 40px;
  line-height: 40px;
  border-radius: 7px;
  background-color: #8D9B6A;
  color: white;
  font-weight: 400;
  font-size: 16px;
  box-shadow: 0 4px 14px 0 rgba(2, 44, 3, 0.39);
  transition: 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;
}

.custombtn:hover {
    background: #516360;
    box-shadow: 0 6px 20px rgb(0 118 255 / 23%);
}

.page {
  margin-inline: 8px;

}

.page a {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border: none;
  padding: 0 20px;
  height: 45px;
  line-height: 45px;
  border-radius: 7px;
  background-color: #8D9B6A;
  color: white;
  font-weight: 400;
  font-size: 16px;
  box-shadow: 0 4px 14px 0 rgba(2, 44, 3, 0.39);
  transition: 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;
}

.page a:hover {
  background: #516360;
  box-shadow: 0 6px 20px rgb(0 118 255 / 23%);
}

.current {
  margin-inline: 8px;
}

.current {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border: none;
  padding: 0 20px;
  height: 45px;
  line-height: 45px;
  border-radius: 7px;
  background-color: #516360;
  color: white;
  font-weight: 400;
  font-size: 16px;
  box-shadow: 0 4px 14px 0 rgba(2, 44, 3, 0.39);
  transition: 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;

}

.pagination {
  justify-content: center;
  display: flex
}

.form-input {
  color: #516360;
}

.form-submit {

}
