.header {
  background: url('https://res.cloudinary.com/dcs2vqe2s/image/upload/v1689128296/totorofly_e7srgr.jpg');
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 15% 19%;
  height: 300px;
  border-bottom: 5mm black;
  background-color: rgba(0, 0, 0, 0.65)
}

@media (max-width: 1280px) {
  .header {
    height: 200px;
  }
}


.title {
  color: #807C51;
  text-shadow: 2px 2px 4px black;
}

.title-pos {
  bottom: 70px;
  position: relative
}
