.navbar {
  background: url('totorofly.jpg');
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 15% 7%;
  background-size: cover;
}

.ghibli-icon {
  height: 10%;
  width: 10%;
}

.totoro {
  height: 5%;
  width: 5%;
}
