<!--Footer container-->
  <div class="footer bg-neutral-900 text-center text-white">
    <div class="pt-6">
      <div class="flex justify-center">
          <div>
            <a href="https://github.com/Dangermouse87"><i class="fa-brands fa-github icon"></i></a>
            <a href="https://rajan-ladwa.dev/"><i class="fa-solid fa-globe icon" style="color: #ffffff;"></i></a>
            <a href="https://www.linkedin.com/in/rajanladwa/"><i class="fa-brands fa-linkedin icon"></i></a>
          </div>
      </div>
    <!--Copyright section-->
      <div
      class="p-4 text-center">
      </div>
    </div>
  </div>
