  <div class="footer text-center text-white">
    <div class="pt-6">
      <div class="flex justify-center">
          <div>
            <a href="https://github.com/Dangermouse87/ghibli" target="_blank"><i class="fa-brands fa-github icon"></i></a>
            <a href="https://rajan-ladwa.dev/" target="_blank"><i class="fa-solid fa-globe icon"></i></a>
            <a href="https://www.linkedin.com/in/rajanladwa/" target="_blank"><i class="fa-brands fa-linkedin icon"></i></a>
          </div>
      </div>
      <div
      class="p-4 text-center">
      </div>
    </div>
  </div>
